body {
  font-family: "Apercu", sans-serif;
  font-weight: 500;
  transition: all ease 0.3s;
  background-color: #E6EAF6;
  animation: body-appear 1s;
}

body::-webkit-scrollbar {
  width: 1em;
}

html {
  margin-left: calc(100vw - 100%);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

button, input {
  outline: none !important;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
}

.box-shadow2 {
  box-shadow: 0 3px 15px rgba(70, 72, 77, 0.08);
}

.box-shadow3 {
  box-shadow: 0 5px 30px rgba(51, 105, 158, 0.09);
}

.note {
  animation: appear 0.7s;
}

@keyframes appear {
  from {
    transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  }
}
@keyframes body-appear {
  from {
    transform: scale(0.75) translateY(-50px) translateZ(4.5rem);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  }
}
@keyframes move {
  from {
    transform: translateX(-100px);
  }
}
.transition {
  transition: all ease 0.3s;
}

#welcome {
  margin-top: 2.3rem;
}

.modal-customize .modal-margin {
  margin-top: 200px;
}
.modal-customize .modal-header,
.modal-customize .modal-footer {
  border: 0 !important;
}
.modal-customize div input.modal-input {
  height: 3rem;
  font-size: 27px !important;
  transition: all ease 0.3s;
  text-align: center;
  border: none;
  border-radius: 0;
  border-bottom: solid 2px lightgray;
  width: 25.7rem;
  padding: 0;
}
.modal-customize div input.modal-input:focus {
  border-color: #989888;
}

#continue {
  border: 0;
  background-color: #e7e7e7;
  font-size: 18px;
  border-radius: 5px;
  width: 26rem;
  height: 3rem;
}

.border-right {
  border-right: 1px solid #e7e7e7 !important;
  min-height: 95vh;
}
.border-right button {
  margin-top: 2.5rem;
  font-size: 26px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  border: 0;
  height: 2.5rem;
  width: 2.5rem;
}

.container {
  border-radius: 7px;
}

.card {
  border: 0;
  border-radius: 7px;
  background-color: #ffc972;
  padding: 0 10px;
  min-width: 250px;
  max-width: 23%;
}
.card .note-date {
  font-size: 14.5px;
}
.card small {
  font-size: 0.75rem;
  color: #41464b;
}

.main-notes .card {
  min-height: 100%;
  animation: move 0.5s;
}

#search-note {
  width: 35% !important;
}

.btn-note {
  background-color: #000;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: #fff;
  margin-bottom: 4px !important;
}
.btn-note:hover {
  color: #fff;
}

textarea {
  max-width: 100%;
  height: 70%;
  resize: none;
  transition: all ease 0.3s;
  outline: none;
}

.textarea-blur {
  border-color: #ffc972;
  background-color: #ffc972;
}

.delete-note {
  position: absolute;
  top: 7px;
  left: 3px;
}

.change-color {
  position: absolute;
  transition: all ease 0.3s;
  cursor: pointer !important;
  top: 10px;
  right: 12px;
}
.change-color:hover {
  transform: rotate(-90deg);
}

.change-color-ul {
  right: 12px;
  top: 35px;
}

input.note-title {
  background-color: transparent !important;
  min-width: 100%;
  font-size: 22px;
  margin-bottom: -10px;
  border: none;
  font-weight: 500;
}

@media only screen and (max-width: 520px) {
  h3 {
    font-size: 21px;
  }

  input {
    width: 15rem !important;
  }

  .border-right {
    border-right: 0 !important;
  }

  button {
    margin-top: 1rem !important;
  }
}
@media only screen and (max-width: 991px) {
  .main-notes {
    flex-wrap: wrap;
  }

  #search-note {
    width: 100% !important;
  }
}

/*# sourceMappingURL=main.css.map */
