
@media only screen and (max-width: 520px) {
  h3{
    font-size: 21px;

  }
  input{
    width:15rem !important;
  }
  #search-note{
    width: 65% !important;
  }
}
@media only screen and (max-width: 991px) {
.main-notes{
  flex-wrap: wrap;
}
}