body {
  font-family: 'Apercu', sans-serif;
  font-weight: 500;
  transition: all ease 0.3s;
  background-color: #E6EAF6;
  animation: body-appear 1s;
}

body::-webkit-scrollbar {
  width: 1em;
}

html {
  margin-left: calc(100vw - 100%)
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

button, input {
  outline: none !important;
}

.note {
  animation: appear 0.7s;
}
@keyframes appear {
  from {
    transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  }
}

@keyframes body-appear {
  from {
    transform: scale(0.75) translateY(-50px) translateZ(4.5rem);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  }
}

@keyframes move {
  from {
    transform: translateX(-100px);
  }
}
.transition{
  transition: all ease 0.3s;
}