@media only screen and (max-width: 520px) {
  h3 {
    font-size: 21px;
  }
  .border-right {
    border-right: 0 !important;
  }
  button {
    margin-top: 1rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .note-container {
    flex-wrap: wrap;
  }
}
